<div class="col-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.subject }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title pricing-card-title">{{ object.body|truncatechars:50 }}</h5>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li> {{ object.created }} </li>
            </ul>
            <a class="btn btn-lg btn-block btn-outline-info"
               href="{% url 'mailing_list:message_detail' object.pk %}">Информация</a>
            {#            {% if user.is_authenticated and object.creator == user or perms.catalog.change_product %}#}
            {#                <a class="btn btn-lg btn-block btn-outline-info"#}
            {#                   href="{% url 'catalog:version_detail' object.pk|default:"url 'catalog:product_update'" %}">Версия</a>#}
            {#                <a class="btn btn-lg btn-block btn-outline-warning"#}
            {#                   href="{% url 'catalog:product_update' object.pk %}">Изменить/Удалить</a>#}
            {#            {% endif %}#}

        </div>
    </div>
</div>